.main {
  padding: var(--GENPADDING);
}
.main > .content {
  display: flex;
  gap: 4rem;
}
.content > .content__left,
.content > .content__middle,
.content > .content__right {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.content__middle {
  gap: 1rem;
}
.h1 {
  font-weight: 700;
  font-size: 4rem;
}
.content__left > .artist__image {
  border-radius: 2rem;
  object-fit: cover;
  object-position: top;
  border: 8px solid black;
  box-shadow: 8px 8px black;
}
.content__middle > .boxes_container {
  display: flex;
  gap: 2rem;
}
