.box {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 3px solid black;
  box-shadow: 3px 3px black;
  width: 80%;
}
.header {
  background-color: var(--PRIMARYCOLOR);
  border-radius: 1rem 1rem 0 0;
  padding: .5rem 1.5rem ;
  font-weight: 600;
  border-bottom: 3px solid black;
}
.box > .box__container { 
  padding: 1rem 1.5rem ;
  border-radius: 0 0 .75rem .75rem;
  box-shadow: 3px 3px black;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.content {
  font-weight: 600;
}
