.carousel {
  padding-bottom: 1.5rem;
  overflow-x: auto;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel > .carousel__header {
  margin-bottom: .5rem;
}
.carousel > .carousel__body {
  display: flex;
  // check figma
  gap: 1rem;
}